.price-footer {
    height: 45px;
    width: 100%;
    transition: .3s;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    background: rgb(232, 236, 239);
        &.open-price-ui {
            height: 400px;
        }
        & .price-header {
            background: $main-color;
            height: 45px;
            width: 100%;
            @include flex(row, nowrap, space-between, center);
            padding: 15px 25px;
            color: white;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: .9em;
            transition: .3s;
                
                &:hover {
                    background: lighten($main-color-accent, 5%);
                }
                & i {
                    margin-left: 10px;
                    transition: .3s;
                    &.active {
                        transform: rotate(-180deg);
                    }
                }
        }
}


@media (min-width: 768px) {
    .price-footer {
        display: none;
    }
}