.sub-banner-content {
    padding: $default-padding;
    margin-top: 15px;
        .banner-content {
            background: white;
            border-radius: 3px;
            position: relative;
            border: 0;
            border-left: 4px solid;
            padding: 15px;
            margin: 15px auto;
            width: 100%;
            @include flex(row, nowrap, space-between, center);
            
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                & i {
                    font-size: 1.1em;
                        &:last-child {
                            opacity: .5;
                            cursor: pointer;
                        }
                }
                &.warning {
                    border-color: lighten($happiness-orange, 15%);
                        & i:first-child {
                            color: lighten($happiness-orange, 15%);
                        }
                }
                &.marketing {
                    border-color: lighten($neora-blue, 15%);
                        & i:first-child {
                            color:  lighten($neora-blue, 15%);
                        }
                }
                & p {
                    padding: 0 35px;
                }
        }
}