* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $prim-font;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(239, 240, 243);
    @include size(100%, 100%);
    color: $font-color;
    @include flex(row, nowrap, flex-start, flex-start);
}

.auto-order-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(239, 240, 243);
    min-height: 100vh;
}
