* li {
    list-style: none;
}
* {
    outline: none;
}

.auto-order-container .temp-font {
    font-size: .8em;
}

.auto-order-container .loader {
    filter: $loader-color;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 75px;
    opacity: .8;
}
.ao-overlay-container .page-loader {
    width: 75px;
    filter: $loader-color;
}
.auto-order-container .disabled {
    pointer-events: none;
    opacity: .6;
}